# CASE STUDY:
## HEROS OF PYMOLI:

In [170]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('https://raw.githubusercontent.com/shreymukh/Pandas-Challenge/master/HeroesofPymoli/purchase_data.csv')

In [116]:
data.head(40)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14

## Player Count:

In [30]:
total_players = data['Purchase ID'].count()
print("Total player counts are: ",total_players)

Total player counts are:  780

## Purchasing Analysis (Total):

### Number of unique Items:

In [16]:
data['Item Name'].unique()
print("Total unique items are: ",data['Item Name'].unique().size)

Total unique items are:  179

### Average Purchase Price:

In [17]:
avg = data['Price'].mean()
print("The average purchase price is:", avg)

The average purchase price is: 3.050987179487176

### Total Number of Purchases:

In [18]:
print("Total no of purchases are: ",data['Purchase ID'].count())

Total no of purchases are:  780

## Gender Demographics:

### Percentage and Count of Male Players:

In [35]:
no_of_males= data[data['Gender']=='Male'].Gender.count()
total_players
percent_male = (no_of_males/total_players)*100
pd.DataFrame(
    {'Total Players':[total_players],
    'no_of_males':[no_of_males],
    'percent_male':[percent_male]}
)

   Total Players  no_of_males  percent_male
0            780          652     83.589744

### Percentage and Count of Female Players:

In [36]:
no_of_females= data[data['Gender']=='Female'].Gender.count()
total_players
percent_female = (no_of_females/total_players)*100
pd.DataFrame(
    {'Total Players':[total_players],
    'no_of_females':[no_of_females],
    'percent_female':[percent_female]}
)

   Total Players  no_of_females  percent_female
0            780            113       14.487179

### Percentage and Count of Other / Non-Disclosed:

In [46]:
no_of_others= data[data['Gender']=='Other / Non-Disclosed'].Gender.count()
total_players
percent_others = (no_of_others/total_players)*100
pd.DataFrame(
    {'Total Players':[total_players],
    'no_of_others':[no_of_others],
    'percent_others':[percent_others]}
)

   Total Players  no_of_others  percent_others
0            780            15        1.923077

## Purchasing Analysis (Gender):

### Average Purchase Price (Male):

In [50]:
 data[data['Gender']=='Male'].Price.mean()

3.0178527607361953

### Average Purchase Price (Female):

In [51]:
 data[data['Gender']=='Female'].Price.mean()

3.203008849557519

### Total Purchase Price (Male):

In [52]:
 data[data['Gender']=='Male'].Price.sum()

1967.64

### Total Purchase Price (Female):

In [53]:
 data[data['Gender']=='Female'].Price.sum()

361.94

### Average Purchase Price (Others):

In [54]:
data[data['Gender']=='Other / Non-Disclosed'].Price.mean()

3.3460000000000005

### Total Purchase Price (Others):

In [55]:
data[data['Gender']=='Other / Non-Disclosed'].Price.sum()

50.19

## Age Demographics:

### Age < 10:

#### Purchase Count:

In [69]:
Ageless10= data[data['Age']<10].Age.count()
print("Purchase Count of those their age less than 10 is :",Ageless10)

Purchase Count of those their age less than 10 is : 23

#### Average Purchase Price:

In [70]:
Ageless10PriceAvg =data[data['Age']<10].Price.mean()
print("Price average is :",Ageless10PriceAvg)

Price average is : 3.353478260869565

#### Total Purchase Value:

In [104]:
Ageless10PriceSum =data[data['Age']<10].Price.sum()
print("The Total is :",Ageless10PriceSum)

The Total is : 77.13

### Age between 10 and 14:

#### Purchase Count:

In [99]:
Agebet1014 = data[data['Age'].between(10,14,inclusive='both')].Age.count()
print("Purchase Count of those their age between 10 and 14 is :",Agebet1014)

Purchase Count of those their age between 10 and 14 is : 28

#### Average Purchase Price:

In [102]:
Agebet1014PriceAvg =data[data['Age'].between(10,14,inclusive='both')].Price.mean()
print("Price average is :",Agebet1014PriceAvg)

Price average is : 2.956428571428571

#### Total Purchase Value:

In [103]:
Agebet1014PriceSum =data[data['Age'].between(10,14,inclusive='both')].Price.sum()
print("The Total is :",Agebet1014PriceSum)

The Total is : 82.78

### Age greater than equals to 15:

#### Purchase Count:

In [105]:
Agegreat15 = data[data['Age']>=15].Age.count()
print("Purchase Count of those their age greater than or equals to 15 is :",Agegreat15)

Purchase Count of those their age greater than or equals to 15 is : 729

#### Average Purchase Price:

In [107]:
Agegreat15PriceAvg =data[data['Age']>=15].Price.mean()
print("Price average is :",Agegreat15PriceAvg)

Price average is : 3.0450754458161855

#### Total Purchase Value:

In [108]:
Agegreat15PriceSum =data[data['Age']>=15].Price.sum()
print("The Total is :",Agegreat15PriceSum)

The Total is : 2219.86

## Top Spenders:

In [169]:
data1 = data.groupby('SN').sum().reset_index().sort_values(by=['Price'],ascending=False)## get SN & Total Price
data2 = data.groupby('SN').count().reset_index() ## get Price Counts
data3 = pd.merge(data1,data2,on='SN')
data3.rename(columns={'Price_x':'Total Purchase Value','Price_y':'Purchase Count'},inplace=True)
data4 = data3[['SN','Total Purchase Value','Purchase Count']].head()
data4['Average Purchase Price'] = data4['Total Purchase Value']/data4['Purchase Count']
data4

            SN  Total Purchase Value  Purchase Count  Average Purchase Price
0    Lisosia93                 18.96               5                3.792000
1  Idastidru52                 15.45               4                3.862500
2   Chamjask73                 13.83               3                4.610000
3       Iral74                 13.62               4                3.405000
4  Iskadarya95                 13.10               3                4.366667